#Intro

In [3]:
thatlist=["apple","Banana","cherry"]
thatlist.append("mango")
#Append inserts elements at the end of the current list
print(thatlist)
thatlist.remove("Banana")
print(thatlist)
thatlist[1]="Strawberry"
print(thatlist)
print(thatlist[1])

['apple', 'Banana', 'cherry', 'mango']
['apple', 'cherry', 'mango']
['apple', 'Strawberry', 'mango']
Strawberry

In [4]:
tup=("apple","Banana","cherry")
print(tup[0])
# tup.append("mango")
# tup.pop()
tup[0]="Strawberry"
print(tup[0])

apple

TypeError: 'tuple' object does not support item assignment

In [5]:
#We can mutate the tuples by converting it to a list and back to tuple
tup1=list(tup)
tup1[0]="Strawberry"
tup=tuple(tup1)
print(tup)

('Strawberry', 'Banana', 'cherry')

In [6]:
set1={1,"apple",123.12}
# print(set1[0])
set1.add("orange")
print(set1)
set1.add(1)
print(set1)

{1, 123.12, 'apple', 'orange'}
{1, 123.12, 'apple', 'orange'}

In [7]:
diction={"City":"Dharwad","temp":25,"cities":["Hyderabad","Bengaluru","Mumbai"],25:"temp"}
print(diction["City"])
print(diction.keys())
print(diction.values())
# diction["temp"]=30
diction.update({"temp":30})
print(diction)

Dharwad
dict_keys(['City', 'temp', 'cities', 25])
dict_values(['Dharwad', 25, ['Hyderabad', 'Bengaluru', 'Mumbai'], 'temp'])
{'City': 'Dharwad', 'temp': 30, 'cities': ['Hyderabad', 'Bengaluru', 'Mumbai'], 25: 'temp'}

#Initiating Lists

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

In [ ]:
#Lists can contain duplicate elements
fruits=["apple", "banana", "cherry", "apple", "cherry"]
print(fruits)

In [ ]:
#Unlike in C/C++ in python a list can have any data type and can contain a combination of multiple data types
list1=["abc", 34, True, 40, "male"]
print(type(list1))
#Type-<class-list>

##Accessing Elements In List

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
#Printing element at an index
print(thislist[1])
#Negative indexing
print(thislist[-1])

In [ ]:
#Elements between two indices
print(thislist[2:5])#Index 5 not included in the range
print(thislist[:5])#Indexing from the start of the list to 4th index
print(thislist[2:]) #Indexing from 2 to end of the list
print(thislist[-4:-1])#Indexing from 4th last element to last element(not included)

##Inserting Elements

In [ ]:
thatlist=["apple","Banana","cherry"]
thatlist.append("mango")
#Append inserts elements at the end of the current list
print(thatlist)

In [ ]:
thatlist=["apple","Banana","cherry"]
thatlist.insert(1,"mango")
#Insert function places the element in the passed position
print(thatlist)

In [ ]:
#You can join two list or a list to any other iterable(set,dictionary,tuple..)
thistuple = ("kiwi", "orange")
#Here only shown for tuple and list
thatlist.extend(thistuple)
print(thatlist)

##Removing elements

In [ ]:
thatlist=["apple","Banana","cherry","kiwi", "orange"]
#Removes the element that is passed
thatlist.remove("Banana")
print(thatlist)

In [ ]:
#Pop removes element from the passed index, if no value is passed the last element will be removed by default
thatlist.pop(2)
print(thatlist)
thatlist.pop()
print(thatlist)

In [ ]:
thatlist=["apple","Banana","cherry","kiwi", "orange"]
del thatlist[0] #removes passed index
print(thatlist)
del thatlist #Deletes the list entirely
print(thatlist)

In [ ]:
thatlist=["apple","Banana","cherry","kiwi", "orange"]
thatlist.clear()#Clear just deletes every element leaving the list empty(list not deleted)
print(thatlist)

##Sorting of List

In [ ]:
thatlist=["apple","banana","cherry","kiwi", "orange"]
thatlist.sort()#ALphabetically sorted Ascending order
thatlist

In [ ]:
thislist=[100, 50, 65, 82, 23]
thislist.sort()#Numerically sort Ascending
thislist

In [ ]:
thislist.sort(reverse=True)#Sort descending order
thislist

In [ ]:
#You can also customize your own function by using the keyword argument key = function
def myfunc(n):
  return abs(n - 50)
#Sorting the list based on how close the number is to 50
thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

In [ ]:
mylist=thislist.copy()#Original list doesn't change when Copied list is changed
mylist.pop()
print(thislist)
print(mylist)

#Tuples

##Unpacking tuples

In [ ]:
fruits=("apple","banana","cherry")
(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

# Functions

In [8]:
# function definition
def get_square(num):
    return num * num

for i in [1,2,3]:
    # function call
    result = get_square(i)
    print('Square of',i, '=',result)

Square of 1 = 1
Square of 2 = 4
Square of 3 = 9

In [9]:
# pass a list as argument
def students(names):
    print("Names of students :")
    for i in names:
        print(i)

In [10]:
freshers=["A","B","c","D"]
students(freshers)

Names of students :
A
B
c
D

In [11]:
# Function inside function
def increment(number):

    def inner_increment():

        return number + 1

    return inner_increment()

print(increment(10))
# Can I access inner_increment() ?

11

##Recursive Functions

In [12]:
# The function calls itself with changing parameters and having a base case to stop the recurence 
def factorial(n):
    if n==0:#base case
        return 1
    else:#recursive case
        return n*factorial(n-1)

print(factorial(5))

120

In [ ]:
# Lambda expression


x =  lambda a , b  :  a * b
print( x (5,6) )

In [ ]:
# calculate squares using def
def squares_def(x):
    return x*x
print('Using def: ', squares_def(5))

# calculate squares using lambda
squares = lambda x: x*x
print('Using lambda: ', squares(5))

In [ ]:
# Lambda functions can be Immediately Invoked which is not possible with def 
(lambda x,y : x*y)(5,7)

# Applications : In Data Exploration and analysis often used with filter , map functions etc

#Classes

In [16]:
# define a class
class Car:
    
    def __init__(self,name,color,price):
        # initial assignment of member data
        self.name = name
        self.color = color
        self.price =price

    # member function
    def brake(self):
        self.speed=0
        print(self.name," Stopped")
        print("Speed : ",self.speed)

    def __str__(self):
        return f"Car name : {self.name} \nColor : {self.color} \nPrice : {self.price}"

In [17]:
#  create objects of class
car1 = Car("ABC","WHITE",1000)  
car2 = Car("XYZ","BLACK",2000)

In [18]:
print(car1)

Car name : ABC
Color : WHITE
Price : 1000

In [ ]:
# access the properties of object

print(car1.name)
# prints name of car1

In [ ]:
# access the methods 

car2.brake()
# calls the brake function of car2 object

In [ ]:
# Modify values of attributes
car1.color = "GREEN"
print(car1.color)

In [ ]:
# delete object's attribute
del car1.color

In [ ]:
# delete object
del car1